$header-height: auto;
$header-padding: 0;
$color-primary: #848484;
$color-secondary: #000000;
$color-tertiary: #707070;
$color-gradient-one: #F3D571;
$color-gradient-two: #AACB8B ;
$general-padding: 0;